<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <div class="login-wrapper">
        <div class="login-container">

            <h2>Welcome Back 👋</h2>
            <p>Login to continue exploring jobs</p>

            <form method="POST">
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label>Email Address</label>
                </div>

                <div class="input-group">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <button type="submit">Login</button>
            </form>

            <div class="links">
                <a href="#">Forgot Password?</a>
                <span>•</span>
                <a href="{{ url_for('register') }}">Create Account</a>
            </div>

        </div>
    </div>

</body>
</html>
